body{
    background-color: darkolivegreen;
    color: whitesmoke;
    text-align: center;
    font-family: 'Ubuntu', Verdana, sans-serif;
    font-size: 24px;
    font-weight: lighter;
    margin: 0px;
}

/* Nadpisy */
h1{
    color: orange;
    font-size: 120px;
    font-weight: bold;
    margin: 20px auto 140px;
}

h2{
    color: orange;
    text-align: left;
    font-size: 60px;
    font-weight: normal;
    font-style: italic;
    padding-top: 72px;
    margin: 48px 48px 24px;
}

/* Texts */
p{
    margin: 0px 12px 12px;
}

b{
    font-weight: bold;
}

a{
    color: whitesmoke;
}
a:hover,
a:active{
    color: orange;
    font-weight: normal;
}

/* Datumy - italic */
span{
    font-style: italic;
    font-size: 70%;
}

/* Lists */
ul{
    list-style-position: inside;
    list-style-type: square;
    margin: 0px auto 32px;
}

/* Navigacia */
nav{
    position: sticky;
    top: 0px;
}

nav ul{
    overflow: hidden;
    background-color: darkolivegreen;
    padding: 24px 20px;
    
}

nav li{
    float: left;
    list-style-type: none;
}

nav li a{
    display: block;
    text-align: center;
    padding: 0px 20px;
    text-decoration: none;
}
nav a:hover,
nav a:active{
    color: orange;
    font-weight: lighter;
    text-decoration: underline;
}

.drop {
    /* float: right; */
    position: relative;
    cursor: pointer;
}

.menu-content{
    display: none;
    position: absolute;
    background-color: olive;
    overflow: auto;
    min-width: 120px;
    top: 54px;
    left: 780px;
    z-index: 1;
}

.menu-content a{
    padding: 8px;
    display: block;
}

.show{display: block;}

/* Foot */
footer{
    background-color: black;
    font-size: 80%;
    margin-top: 48px;
}

footer p{
    margin-bottom: 0px;
}

img {
    height: 150px;
    margin-top: 80px;
    border-radius: 50%;
    border: 1px solid orange;
}