body{
    background-color: darkolivegreen;
    color: whitesmoke;
    text-align: center;
    font-family: 'Ubuntu', Verdana, sans-serif;
    font-size: 24px;
    font-weight: lighter;
    margin: 0px;
}

/* Nadpisy */
h1{
    color: orange;
    font-size: 120px;
    font-weight: bold;
    margin: 160px auto 220px;
}

h2{
    color: orange;
    text-align: left;
    font-size: 60px;
    font-weight: normal;
    font-style: italic;
    padding-top: 72px;
    margin: 48px 48px 24px;
}

/* Texts */
p{
    margin: 0px auto 12px;
}

b{
    font-weight: bold;
}

a{
    color: whitesmoke;
}
a:hover,
a:active{
    color: orange;
    font-weight: normal;
}

/* Datumy - italic */
span{
    font-style: italic;
    font-size: 70%;
}

/* Lists */
ul{
    list-style-position: inside;
    list-style-type: square;
    margin: 0px auto 32px;
}

/* Navigacia */
nav{
    position: sticky;
    top: 0px;
}

nav ul{
    display: flex;
    background-color: darkolivegreen;
    padding: 24px 20px;
}

nav li{
    flex: content;
    list-style-type: none;
}

nav a{
    text-decoration: none;
}
nav a:hover,
nav a:active{
    color: orange;
    font-weight: lighter;
    text-decoration: underline;
}

/* Foot */
footer{
    background-color: black;
    font-size: 80%;
    margin-top: 48px;
}

footer p{
    margin-bottom: 0px;
}